.box {
  margin: 12px;
  border: 2px solid blue;
  padding: 25px;
  height: 200px;
  width: 300px;
  display: block;
  align: center;
}

img {
  height: 150px;

}

.oprah {
  background-image: url(../img/Oprah2.jpg);
  background-position: center;
  background-size: contain;
}
.malcolm {
  background-image: url("http://www.louisvillecardinal.com/media/2016/02/malcolm-x-economics.jpg");
  background-position: center;
  background-size: contain;
}
